.App {
  text-align: right;
}

.App-logo {
  height: 50%;
  width:25%;
  pointer-events: none;
  position: absolute;
  left: 165px;

}

@media (prefers-reduced-motion: no-preference) {
}
/*#5883d8*/
.App-header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    #5883d8 50%,
    #5883d8 100%
  );
  display: flex;
  justify-content: center;
  align-items: right;
  pointer-events: none;
  position: absolute;
  right: 0px;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index:0 ;
}

.App-Auth {
  justify-content: center;
  align-items: right;
  pointer-events: none;
  position: absolute;
  right: 0px;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index:0;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
